@page
@model SUB.Pages.AboutModel
@{
    ViewData["Title"] = "O nas";
}

<div>
    <p class="subsite-header"><img src="https://icons.iconarchive.com/icons/icons8/windows-8/512/Very-Basic-About-icon.png" />O nas <hr /> </p>
    <p>Trochę o SUB</p>
</div>