@page
@model SUB.Pages.ContactModel
@{
    ViewData["Title"] = "Kontakt";
}


<div>
    <p class="subsite-header"><img src="https://www.pikpng.com/pngl/m/115-1157183_contacts-transparent-icons-png-download-contact-us-icon.png" />Kontakt <hr /> </p>
    <p>Kontakt z działem technicznym</p>
    <form method="post">
        <fieldset>Kategoria zgłoszenia 
            <select id="Kategoria_zgloszenia">
                <option value=""></option>
                <option value="0">Problem z kontem</option>
                <option value="1">Problem z kuponem</option>
                <option value="2">Inne</option>
            </select>
        </fieldset>
        Treść zgłoszenia
        <input type="text" /><br />
        <input type="submit" />
    </form>
</div>