@page
@model SUB.Pages.CouponsModel
@{
    ViewData["Title"] = "Kupony";
}

<div>
    <p class="subsite-header"><img src="https://www.pngkit.com/png/full/12-120181_png-file-ticket-icon-svg.png" />Kupony <hr /> </p>
    <p>Tutaj będą kupony użytkownika</p>
</div>