@page
@model SUB.Pages.CouponsModel
@{
    ViewData["Title"] = "Kupony";
}

<div>
    <p class="subsite-header"><img src="~/img/coupons.png" />Kupony <hr /> </p>
    <p>Tutaj będą kupony użytkownika</p>
</div>