@page
@model SUB.Pages.CouponsModel
@{
    ViewData["Title"] = "Kupony";
}

<div>
    <p class="subsite-header"><img src="https://www.clipartmax.com/png/middle/70-703986_two-movie-tickets-comments-tickets-icon.png" />Kupony <hr /> </p>
    <p>Tutaj będą kupony użytkownika</p>
</div>