@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>Dołącz do setek zadowolonych klientów i zarejestruj się już dziś!</p>
</div>
