@page
@model SUB.Pages.PermissionsModel
@{
    ViewData["Title"] = "Niewystarczające uprawnienia!";
}

<div>
    <p class="subsite-header"><img src="~/img/danger.png" /> Niewystarczajace uprawnienia! <hr /> </p>
    <h3>Nie masz uprawnień pozwalających na dostęp do tej podstrony!</h3>
    <a href='javascript:history.go(-1)'>Powrót</a>
</div>