@page
@model SUB.Pages.WalletModel
@{
    ViewData["Title"] = "Portfel";
}

<div>
    <p class="subsite-header"><img src="https://www.freeiconspng.com/thumbs/wallet-icon/06-wallet-icon--swanky-outlines-iconset--pixelkit-14.png" />Portfel <hr /> </p>
    <p>Tutaj będzie portfel, wpłaty itd</p>
    <h1>Saldo: 0 PLN</h1>
    <button>WPŁAĆ</button>
    <button>WYPŁAĆ</button>
</div>