@page
@model SUB.Pages.WalletModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Twój portfel";
}

<p class="subsite-header"><img src="https://www.freeiconspng.com/thumbs/wallet-icon/06-wallet-icon--swanky-outlines-iconset--pixelkit-14.png" />Portfel <hr /> </p>

@{
    foreach (var item in Model.AspNetUsers)
    {
        if (item.Id.Equals(UserManager.GetUserId(User)))
        {
            if (item.PortfelId == null)
            {
                <h4>Nie masz jeszcze przypisanego portfela</h4>
                <p>Utwórz nowy portfel poprzez podanie 8-znakowego kodu portfela niezbędnego do dokonywania wypłat.</p>
                <form method="post">
                    <p style="font-weight: 500;">Wybierz kod, który łatwo zapamiętasz!</p>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Portfel.KodPortfela" class="control-label"></label>
                        <input asp-for="Portfel.KodPortfela" class="form-control" style="width: 200px;" />
                        <span asp-validation-for="Portfel.KodPortfela" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Utwórz nowy portfel" class="btn btn-primary" style="width: 200px;" />
                    </div>
                </form>
            }
            else
            {
                <h2>Środki:  @item.Portfel.Srodki PLN</h2>
                <p><i>Minimalna kwota transakcji to 10 PLN</i></p>
                <div class="row">
                    <div class="col-md-4">
                        <form method="post">
                            <h4>Wypłata</h4>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Portfel.Srodki" class="control-label">Kwota do wypłaty</label>
                                <input asp-for="Portfel.Srodki" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Numer konta do wypłaty</label>
                                <input class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Portfel.KodPortfela" class="control-label"></label>
                                <input asp-for="Portfel.KodPortfela" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Wypłać" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4" style="margin-left: 300px;">
                        <h4>Wpłata</h4>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Portfel.Srodki" class="control-label">Kwota doładowania</label>
                                <input asp-for="Portfel.Srodki" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Doładuj" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            }

        }
    }
}