@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdź rejestracje";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Ta aplikacja aktualnie nie obsługuje wysyłania wiadomości email z potwierdzeniem rejestracji.
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj, aby potwierdzić swoje konto.</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
