@page
@model SUB.Pages.Wallet.PayoffModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["ActivePage"] = ManageNavPages.Payoff;
    ViewData["Title"] = "Portfel - wypłata";
}

@{
    var srodki = 0.0;
    foreach (var item in Model.AspNetUsers)
    {
        if (item.Id.Equals(UserManager.GetUserId(User)))
        {
            srodki = item.Portfel.Srodki;
        }

    }
        <h2>Środki:  @srodki PLN</h2>
        <hr />
        <p><i>Minimalna kwota transakcji to 10 PLN</i></p>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Portfel.Srodki" class="control-label">Kwota do wypłaty</label>
                        <input asp-for="Portfel.Srodki" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Numer konta do wypłaty</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Portfel.KodPortfela" class="control-label"></label>
                        <input asp-for="Portfel.KodPortfela" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Wypłać" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
}