@page
@model SUB.Pages.Contact.EditModel

@{
    ViewData["Title"] = "Kontakt - edytuj zgłoszenie";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<p class="subsite-header"><img src="~/img/contact.png" />Kontakt <hr /> </p>
<h2>Edycja zgłoszenia</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Zgloszenie.Id" />
            <input type="hidden" asp-for="Zgloszenie.DataUtworzenia" />
            <div class="form-group">
                <label asp-for="Zgloszenie.UzytkownikId" class="control-label"></label>
                <select asp-for="Zgloszenie.UzytkownikId" class="form-control" asp-items="ViewBag.UzytkownikId" hidden></select>
                <span asp-validation-for="Zgloszenie.UzytkownikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zgloszenie.Email" class="control-label"></label>
                <input asp-for="Zgloszenie.Email" class="form-control" />
                <span asp-validation-for="Zgloszenie.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zgloszenie.Tresc" class="control-label"></label>
                <input asp-for="Zgloszenie.Tresc" class="form-control" />
                <span asp-validation-for="Zgloszenie.Tresc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zgloszenie.Kategoria" class="control-label"></label>
                <input asp-for="Zgloszenie.Kategoria" class="form-control" />
                <span asp-validation-for="Zgloszenie.Kategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zgloszenie.Status" class="control-label"></label>
                <select asp-for="Zgloszenie.Status" class="form-control">
                    <option value="Przyjęte">Przyjęte</option>
                    <option value="W realizacji">W realizacji</option>
                    <option value="Zakończone">Zakończone</option>
                </select>
                <span asp-validation-for="Zgloszenie.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./List">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
